<div class="container">
  <div class="card p-3 " style="border-radius: 25px;">
    <div class="chip ">
      <% if comment.user.profilepic.present? %>
        <%= image_tag(comment.user.profilepic.to_s, class: 'avatar') %>
      <% else %>
      <%= image_tag('defaultuser.png', class: 'avatar') %>
      <% end %>
    <%= comment.user.username %>
  </div>
  <div class="card-body">
    <%= comment.comment %>
  </div>
</div>

<hr>
</div>