<% @article.comments.each do |comment| %>
  <div>
    <strong>User:</strong>
    <%= comment.user.username %>
  </div>
  <div>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </div>
<% end %> 
<div>