<div class="container">
<h1>Editing Article</h1>
<% if user_signed_in? %>
<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
<% else %>
  <p>You must be logged in first.</p>
<% end %>
</div>