<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">About Us <span class="text-muted"></span></h2>
      <p class="lead">  
        <br>
        Eloquence : 
        <br>
  We often fail to listen to the beautiful music of our life, due to the day to day hustle and bustle. This blog just intends to give you a relieve from this rush and soothe you with the melodies of words.
  <br>
  So give away all your burdens for a while and listen to your own song of life that often goes unheard.
  <br>
  Put a rest to everything and just listen…</p>
    </div>
    <div class="col-md-5">  
      <%=image_tag 'abt.png' , class: "featurette-image img-fluid mx-auto ", style: 'height:auto;'%>
    </div>
  </div>
  <hr class="featurette-divider">
</div>